{{#partial "content"}}

    <div class="container">
        {{#if editEngineer}}
            <h1>Edit Engineer</h1>
            <form action="/engineers/{{editEngineer}}/update" method="post">
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input class="form-control form-control-lg" value="{{editEngineer.name}}" id="name" name="name" type="text" placeholder="Engineer's Name">
                </div>
                <div class="form-group">
                    <label for="eknumber">EK Number</label>
                    <input class="form-control" value="{{editEngineer.ekNumber}}" id="eknumber" name="eknumber" type="number" placeholder="Engineer's EK Number">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input class="form-control" value="{{editEngineer.phone}}" name="phone" id="phone" type="number" placeholder="Engineer's Phone Number">
                </div>
        {{else}}
            <h1>Add an Engineer</h1>
            <form action="/engineers/new" method="post">
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input class="form-control form-control-lg" id="name" name="name" type="text" placeholder="Engineer's Name">
                </div>
                <div class="form-group">
                    <label for="eknumber">EK Number</label>
                    <input class="form-control" id="eknumber" name="eknumber" type="number" placeholder="Engineer's EK Number">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input class="form-control" name="phone" id="phone" type="number" placeholder="Engineer's Phone Number">
                </div>
        {{/if}}
            <button type="submit" class="btn btn-primary">Go!</button>
        </form>
    </div>
    <br> <br>
    <div class="container">
        {{#if editEngineer}}
            <blockquote>Live each day thankful.</blockquote>
        {{else}}
            <h1>Engineers</h1>
            <table class="table table-striped" style="max-width: 90%; margin-left: auto; margin-right: auto;">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>EK Number</th>
                </tr>
                </thead>
                <tbody>

                {{#if engineers}}
                    {{#each engineers}}
                        <tr>
                            <td><a href="/engineers/{{id}}"> {{name}} </a></td>
                            <td>{{phone}}</td>
                            <td>{{ekNumber}}</td>
                        </tr>
                    {{/each}}

                {{else}}
                    <tr>
                        <td>No Data</td>
                        <td>No Data</td>
                        <td>No Data</td>
                    </tr>
                {{/if}}

                </tbody>
            </table>
        {{/if}}

    </div>
{{/partial}}
{{>layout.hbs}}